.footerdiv{
    display: flex;
}
.venus{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
}
.venus .button1:hover{
    border-bottom: 5px solid #EDA249;
}
.venus .button2:hover{
    border-bottom: 5px solid #EDA249;
}
.venus .button3:hover{
    border-bottom: 5px solid #EDA249;
}

@media screen and (min-width:900px){
    .footerdiv{
        display: flex;
}
    .venus{
       display: flex;
       color: white;
       flex-direction: column-reverse;
       justify-content: center;
    }
    .venus .button1:hover{
        background-color: #EDA249;
    }
    .venus .button2:hover{
        background-color: #EDA249;
    }
    .venus .button3:hover{
        background-color: #EDA249;
    }


}


@media screen and (min-width:1200px){
    .footerdiv{
        display: flex;
    }
    .venus{
        display: flex;
        color: white;
        flex-direction:row;
        justify-content: center;
    }
    .venus .button1:hover{
        background-color: #EDA249;
    }
    .venus .button2:hover{
        background-color: #EDA249;
    }
    .venus .button3:hover{
        background-color: #EDA249;
    }
    



}